.container {
  margin-top: 10px;
  flex: 0 0 calc(15%); /* 25% width minus the gap */
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack the items vertically */
  align-items: center;
}

.card {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
}

.card img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover; /* or object-fit: contain; based on your preference */
  border-radius: 8px; /* Match the radius of the image container */
}

.card:hover {
  overflow: visible;
  transform: translateY(-5px);
}
