/* Modal.module.css */

.modalOverlay {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContent {
  background-color: #6b6969;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 50%;
  max-height: 100vh;
  overflow: scroll;
}

.modalImage {
  max-height: 40vh; /* Decrease max-height of the image */
  margin-bottom: 16px; /* Add spacing below the image */
  border-radius: 8px;
}

.modalTitle {
  display: flex;
  justify-content: space-evenly;
}

.modalImgIng {
  display: flex; /* Display list items horizontally */
}

.titImg {
  display: flex;
  flex-direction: column;
}
h3 {
  margin: 10px;
}

p {
  margin: 0px;
}

ul {
  /* Style for the <ul> element */
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 15px;
}

li {
  padding: 8px 16px;
  background-color: #5f4c4c;
  border-radius: 8px;
  margin-right: 8px; /* Add spacing between items */
  white-space: nowrap; /* Prevent wrapping of individual items */
}
