/* Modal.module.css */

.modalOverlay {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContent {
  background-color: #494747;
  border: 1px solid #797575; /* Add a border around the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  max-width: 40%;
  max-height: 70vh;
  overflow: auto; /* Use scroll instead of auto */
}

.modalImage {
  max-height: 40vh; /* Decrease max-height of the image */
  margin-bottom: 16px; /* Add spacing below the image */
  border-radius: 8px;
}

.modalImgIng {
  display: flex; /* Display list items horizontally */
  justify-content: space-around;
}

.titImg {
  display: flex;
  flex-direction: column;
}
h3 {
  margin: 10px;
  text-decoration: underline;
}

p {
  font-size: 18px; /* Increase font size for readability */
  line-height: 1.6; /* Increase line height for better spacing between lines */
  margin: 0;
  max-width: 90%; /* Limit the width to 50% of the parent */
  text-align: justify;
  position: relative; /* Set positioning context for the paragraph */
  left: 50%; /* Move the paragraph halfway from the left edge */
  transform: translateX(
    -50%
  ); /* Center the paragraph
}

ul {
  /* Style for the <ul> element */
  list-style-type: disc;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  font-size: 16px;
  margin-bottom: 8px;
  margin-right: 8px; /* Add spacing between items */
  white-space: nowrap; /* Prevent wrapping of individual items */
}
