.container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This aligns items at the start and end */
  width: 100%;
  max-width: 600px;
}

.bar {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button {
  margin-left: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center; /* Center the content vertically */
}

.materialSymbol {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
